<div class="row">
  <div class="col-md-12">
    <h3 id="python-curriculum"><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></h3>
    <ul>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html">Python Fundamentals</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html">Analyzing Patient Data</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html">Visualizing Tabular Data</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html">Repeating Actions with Loops</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/05-lists/index.html">Storing Multiple Values in Lists</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html">Analyzing Data from Multiple Files</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html">Making Choices</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html">Creating Functions</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html">Errors and Exceptions</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/10-defensive/index.html">Defensive Programming</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html">Debugging</a></li>
      <li><a href="https://swcarpentry.github.io/python-novice-inflammation/12-cmdline/index.html">Command-Line Programs</a></li>
    </ul>
  </div>
</div>
